<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Product Manager</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <div class="title">DATA VISTA</div>
        <div class="profile">
            <div id="profileIcon" class="profile-icon" onclick="toggleProfileMenu()"></div>
            <div class="profile-menu" id="profileMenu">
                <p><strong>First Name:</strong> {{ first_name }}</p>
                <p><strong>Role:</strong> {{ role_name }}</p>
                <button class="logout" onclick="logout()">Logout</button>
                <button class="hide-menu" onclick="hideProfileMenu()">Hide</button>
            </div>
        </div>
    </div>
    <div class="content" id="content">
        <div class="flashcard" id="flashcard">
            <div class="left-side"><span>P<br>r<br>o<br>d<br>u<br>c<br>t</span></div>
            <div class="container">
                <iframe title="Info Data_Vista_product manager_final" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiN2NiNjhjNTQtZWYwNC00OTg0LTgxNDgtM2RhZDc4MWE2OWI4IiwidCI6IjI2OTI1ZTM4LTVkMzktNDJiMy1hMDgzLWE2OTNkNjllODgzMCJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="right-side"><span>M<br>a<br>n<br>a<br>g<br>e<br>r</span></div>
        </div>
    </div>

    <script>
        function toggleProfileMenu() {
            var profileMenu = document.getElementById('profileMenu');
            profileMenu.classList.toggle('show');
        }

        function hideProfileMenu() {
            var profileMenu = document.getElementById('profileMenu');
            profileMenu.classList.remove('show');
        }

        function logout() {
            window.location.href = "{{ url_for('logout') }}";
        }

        document.addEventListener('click', function(event) {
            var profileMenu = document.getElementById('profileMenu');
            var profileIcon = document.getElementById('profileIcon');
            if (!profileMenu.contains(event.target) && !profileIcon.contains(event.target)) {
                profileMenu.classList.remove('show');
            }
        });
    </script>
</body>

</html>
